.idea
requirements.txt
/tf_official_tutorial/ML_basics_with_Keras/.ipynb_checkpoints/
/tf_official_tutorial/ML_basics_with_Keras/checkpoints/
/tf_official_tutorial/ML_basics_with_Keras/saved_model/
/tf_official_tutorial/ML_basics_with_Keras/training_1/
/tf_official_tutorial/ML_basics_with_Keras/training_2/
/tf_official_tutorial/Load_and_preprocess_data/flowers.tfcache.data-00000-of-00001
/tf_official_tutorial/Load_and_preprocess_data/flowers.tfcache.index
/tf_official_tutorial/Load_and_preprocess_data/.ipynb_checkpoints/
/tf_official_tutorial/Estimator/.ipynb_checkpoints/
/friendly_tutorial_practice/.ipynb_checkpoints/
