.idea
requirements.txt
/ML_basics_with_Keras/.ipynb_checkpoints/
/ML_basics_with_Keras/checkpoints/
/ML_basics_with_Keras/saved_model/
/ML_basics_with_Keras/training_1/
/ML_basics_with_Keras/training_2/
/Load_and_preprocess_data/flowers.tfcache.data-00000-of-00001
/Load_and_preprocess_data/flowers.tfcache.index
